@model InstrumentoModel
@{
	ViewData["title"] = "Cadastro Instrumento";
}

<div class="container bg-dark p-5 rounded-5">
	<div class="mb-5 text-center">
		<h1 class="text-light">Cadastro de Instrumento</h1>
	</div>

	<form method="post" asp-controller="Instrumento" asp-action="Cadastrar">
		<div class="form-group">
			<label for="Nome" class="text-light">Nome</label>
			<input type="text" class="form-control" asp-for="Nome" id="Nome" placeholder="Informe o nome" />
			<span class="text-danger" asp-validation-for="Nome"></span>
		</div>
		<div class="form-group">
			<label for="Marca" class="text-light">Marca</label>
			<input type="text" class="form-control" asp-for="Marca" id="Marca" placeholder="Informe a Marca" />
			<span class="text-danger" asp-validation-for="Marca"></span>
		</div>
		<div class="form-group">
			<label for="Valor" class="text-light">Valor</label>
			<input type="text" class="form-control" asp-for="Valor" id="Telefone" placeholder="Informe o valor" />
			<span class="text-danger" asp-validation-for="Valor"></span>
		</div>
		<div class="d-flex gap-5 mt-5">
			<button type="submit" class="btn btn-success w-50">Enviar</button>
			<a class="btn btn-primary w-50" asp-controller="Instrumento" asp-action="Index">Voltar</a>
		</div>
	</form>
</div>	